fastapi
uvicorn
pydantic
supabase
requests
numpy
pandas
scikit-learn
scipy
torch
transformers
sentence-transformers
faiss-cpu
opencv-python
PyMuPDF
qrcode
pyzbar
python-dotenv
python-multipart
psycopg2-binary
groq
google-generativeai
httpx
uvicorn